# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
.dockerignore
.gitignore
.github/
.local/
/bin/
testbin/
/build/
/dist/
/dist-*/
/config/
/docs/
/examples/
/hack/
/Makefile
/LICENSE
*.md
*.yaml
*.yml
*.cov
Dockerfile*
.goreleaser.yaml
.golangci.yml
